.FormRow {
    margin: 8px 0;
}

.Login .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

.Login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Providers {
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;
}

.Login a {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.Login button:hover {
    background-color: #aaa;
}

.Login button:disabled {
    color: #ddd;
}

.Login .error {
    color: red;
    margin-bottom: 8px;
}
